<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12" id = "header">
        <h1>Burger Jawn!</h1>
      </div>
    </div>
    <div class="row" id="fries">
      <div class="col-md-3" id="friespicture">
        <img src="assets/images/Unknown.jpeg" alt="">
      </div>
      <div class="col-md-3" id="friesdescription">
        <h4>Fries</h4>
        <p>Description: Oily, salty and hot 
            <strong id="friesorno">{{friesorno}}</strong>
        </p>
      </div>
      <div class="col-md-3" id="friesprice">
        <p>Price: $50.00</p>
      </div>
      <div class="col-md-3" id="friesinputbox">
        <button (click) = "incrementfries()">+</button>
        <input id="friesinput" name="friesinput" [(ngModel)]= "friesinput">
        <button (click) = "decrementfries()">-</button>
      </div>
    </div>
    <div class="row" id="burger">
      <div class="col-md-3" id="burgerpicture">
        <img src="assets/images/Unknown-1.jpeg" alt="">
      </div>
      <div class="col-md-3" id="burgerdescription">
        <h4>Burger</h4>
        <p>Description: Beefy, fresh & hot
          <strong id="burgerorno">{{burgerorno}}</strong>
        </p>
      </div>
      <div class="col-md-3" id="burgerprice">
        <p>Price: $10.00</p>
      </div>
      <div class="col-md-3" id="burgerinputbox">
        <button (click) = "incrementburger()">+</button>
        <input id="burgerinput" name="burgerinput" [(ngModel)]= "burgerinput">
        <button (click) = "decrementburger()">-</button>
      </div>
    </div> 
    <div class="row" id="soda">
      <div class="col-md-3" id="sodapicture">
        <img src="assets/images/Unknown-2.jpeg" alt="">
      </div>
      <div class="col-md-3" id="friesdescription">
        <h4>Soda</h4>
        <p>Description: Sweeter than water
          <strong id="sodaorno">{{sodaorno}}</strong>
        </p>
      </div>
      <div class="col-md-3" id="sodaprice">
        <p>Price: $30.00</p>
      </div>
      <div class="col-md-3" id="sodainputbox">
        <button (click) = "incrementsoda()">+</button>
        <input id="sodainput" name="sodainput" [(ngModel)]= "sodainput">
        <button (click) = "decrementsoda()">-</button>
      </div>
    </div>
    <div class="row" id="cartquantity">
      <div class="col-md-12">
        <p>Note: You currently have {{sodainput + burgerinput + friesinput}} item(s) in your cart</p>
      </div>
    </div>
    <div class="row" id="carttotal">
      <div class="col-md-12">
        <p>Your total is: {{total}}</p>
      </div>
    </div>
  </div>  
</body>
</html>

<router-outlet></router-outlet>
